# Format Style Options - Created with Clang Power Tools
---
AccessModifierOffset: -2
BasedOnStyle: WebKit
BreakBeforeBraces: Attach
ColumnLimit: 90
IndentWidth: 2
Language: Cpp
NamespaceIndentation: All
Standard: Cpp11
...
